@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Somo un grupo de jovenes emprendedores que han disenado esta pagina 
        Para poder desarrollar sus ideas de tecnologias. 

    </p>

    <p>
        BatataLocation es un sistem batatoso que localiza lo que sea en el mundo
    </p>

    <p>
       abcd
    </p>
</article>

<aside>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Index", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
    </ul>
</aside>